.SingleCard {
  /*background-color: var(--backgroundHard);*/
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid var(--backgroundHard);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  
  min-width: 300px;
  max-width: 300px;
  height: 450px;
  margin: 10px;
 
 /* justify-content: space-between;*/
}

.SingleCard img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
}
/*
.divImgh3Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 350px;
  justify-content: space-between;
  
}
*/

.SingleCard .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.SingleCard .btnView {
  width: 100px;
  height: 40px;
  /*align-self: flex-end;*/
  border-radius: 5px;
  background-color: var(--backgroundHard);;
  /*border: 2px solid coral;*/

}

@media (max-width: 630px) {
  .divCard {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
