.divHero {
  margin: 0% 5%;
  width: 90%;
  position: relative;
/*  border: 2px solid red;*/
}

.divh1h2Hero {
  /*background-color: var(--backgroundHard);*/
  border-radius: 10px;
  color: black;
  
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divh1h2Hero h1 {
  text-align: center;
  /*color: white;*/
}

.divh1h2Hero h2 {
  text-align: center;
  /*color: white;*/
}

.divImgHero {
  /*position: relative;*/
  margin: 20px 0 0 0;
  width: 100%;
  
}

.divImgHero img {
  /*position: absolute;*/
  max-width: 100%;
  border-radius: 10px;

  /*size: 100%;*/
}

@media (max-width: 630px) {

  .divHero {
    margin: 0% 5%;
    width: 90%;
    position: static;
  }

  .divh1h2Hero {
    background-color: var(--backgroundHard);
    
    position: static;
    top: 100px;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    transform: none;
  }

  .divh1h2Hero h2 {
    display: none;
  }
}