.ModalCart {
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100vw;

  pointer-events: none;
  z-index: 10;
 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ModalCart.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.ModalCart .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222,222,222,0.85);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.ModalCart.isOpen .overlay {
  opacity: 1;
}

.ModalCart .body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  max-height: 95vh;
  /*max-width: 520px;*/
  width: 50%;
  background-color: white;

  opacity: 0;
}

.ModalCart.isOpen .body {
  opacity: 1;
  transform: translateY(0);
  /*border: 3px solid red;*/
}

.ModalCart .headerCart {
  /*position: absolute;*/
  /*top: 50px;*/
  border-radius: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: var(--backgroundHard);
}

.ModalCart .headerCart .btnClose {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}