.isSelect {
  background-color: green;
}

.unSelect {
  background-color: gray;
}

.btnCategory {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  
}

.btnCategory:hover {
  cursor: pointer;
}
