.divShowModal {
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #ffffffc4;
}

.divModal {
  z-index: 10;
  max-width: 520px;
  width: 90%;
  background-color: white;
  padding: 30px;
  border: 1px solid;
  border-radius: 10px;
}

.divModal .ShowCardH3 {
  font-size: 2rem;
}

.divModal .ShowCardP {
  font-size: 1.5rem;
}

.divImgModal {
  width: 100%;
  
}

.divImgModal .ShowCardImg {
  max-width: 400px;
  max-height: 400px;
  
}

.btnClose {
  /*
  object-fit: cover;
  object-position: left;
  */
  top: 100px;
  left: 0px;

  background-color: white;
  color: black;

  font-size: 2rem;
}

.spnPrice {
  font-size: 2rem;
}
